*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Pecita';
  src: url('../fonts/Pecita.woff2') format('woff2'),
       url('../fonts/Pecita.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Background com gradiente */
.body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #F8F8F8, #CAC0FF);
  overflow: hidden;
  font-family: 'Pecita', sans-serif;
}

/* Camada intermediária com elipses */
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.elipse {
  position: absolute;
  animation: pulse 8s ease-in-out infinite;
  opacity: 0.7;
}

.elipse1 {
  width: 10%;
  top: 0%;
  left: 45%;
  animation-delay: 0s;
}

.elipse2 {
  width: 25%;
  top: 20%;
  left: 15%;
  animation-delay: 2s;
}

.elipse3 {
  width: 30%;
  bottom: 2%;
  right: 13%;
  animation-delay: 4s;
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

/* Div circular com efeito vidro */
.circle-container {
  position: relative;
  width: 80vh;
  height: 80vh;
  border-radius: 50%;
   background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)); 
   backdrop-filter: blur(42px); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* Formulário dentro do círculo */
.form-container {
  width: 60%;
  text-align: center;
}


/* Flip Card Config */
.flip-card {
  width: 90%;
  height: 90%;
  perspective: 1000px;
  border-radius: 50%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  backdrop-filter: blur(42px);
}

.flip-card-back {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  backdrop-filter: blur(42px);
  transform: rotateY(180deg);
}

/* Estilo Form */
form {
  width: 70%;
  text-align: center;
}

input, select {
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 15px;
  border: none;
  background-color: hsla(252, 81%, 94%, 0.425);
  color: #72678D;
  font-size: 16px;
  box-shadow: inset 7px 6px 22px -2px rgba(109, 103, 156, 0.25);
  outline: none;
  font-family: 'Pecita', sans-serif;
}

/* Labels */
label {
  display: block;
  margin-bottom: 8px;
  color: #72678D;
  font-size: 20px;
  text-align: left;
}

/* Select estilizado */
select {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%2372678D' height='24' width='24' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 30px;
}

/* Botão circular flutuante */
.floating-btn {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%; 
  background-color: #7A5EB9;
  color: white;
  font-size: 28px;
  border: none;
  cursor: pointer;
  font-family: 'Pecita', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  bottom: 15%;
  right: -5%;
}

.floating-btn:hover {
  background-color:   #554184;
}
